 
  
 
  .PreviewBox{
    background:var(--color-Grey5);
    border-radius: var(--boxes-round-corner);
    padding: var( --space-b)   calc(var( --space-b) + var( --space-a));
     height: 200px; 
     /* width: 8%;  */
     min-width: 200px;
     /* max-width: 800px; */
   flex-shrink: 1;/*   default 1 */
    flex-grow: 5;
    display: flex;
    flex-direction: column;
  justify-content:space-between;
  transition: var(--transition-fast)
  }
   
.PreviewBox-of-tools{
 
  min-height: 340px; 
  /* max-height: 50%; */
   min-width: 220px;
   width: 18%;
  /* flex-shrink: 5; 
  flex-grow: 1; */
}



 
.PreviewBox_for_type_count:hover{
  background:var( --color-DB-Blue-Hover);
    transition: var(--transition-fast);
  cursor: pointer;
}

.PreviewBox_for_type_count:active{
  background:var(   --color-DB-Blue-Hover-Real);
}

 
.PreviewBox_Filtering{
  background:var( --color-DB-Blue-Hover);
}


.PreviewBox_for_type_count    .PreviewBox_HeadLine p ,
.PreviewBox_for_type_count  div .PreviewBox_SmallNumber {
  color: var(--color-White);
  transition: var(--transition-fast);
}

.PreviewBox_for_type_count  .PreviewBox_ButtomLine div,
.PreviewBox_for_type_count  .PreviewBox_ButtomLine svg path
{
  color: var(--color-Grey1);
  stroke: var(--color-Grey1);
  transition: var(--transition-fast);
}
 

.PreviewBox_for_type_count:hover   .PreviewBox_HeadLine p ,
.PreviewBox_for_type_count:hover    div .PreviewBox_SmallNumber ,
.PreviewBox_for_type_count:hover   .PreviewBox_ButtomLine div ,
.PreviewBox_for_type_count:hover   .PreviewBox_ButtomLine svg path

{
  color: var(  --color-DB-Blue-Glow);
  stroke:var(  --color-DB-Blue-Glow);
}

 
/* PreviewBox_ButtomLine
Color-Grey1 */


.PreviewBox_static{
  background:var(--color-DB-Blue-Hover);
    transition: var(--transition-fast);
  /* cursor: pointer; */
  height: auto;
 
}



.PreviewBox-twice-size{
    width: 21%; 
    min-width: 260px;
}


  .PreviewBox_HeadLine{
   /* justify-self: flex-start; */
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  .PreviewBox_ButtomLine{
    display: flex;
    align-items:center;
    justify-content: flex-start;
  }

  .PreviewBox_BigNumber,  .PreviewBox_SmallNumber{
    text-align: center;
  
  }   
  .PreviewBox_SmallNumber{
    margin-top: -5px;
  }
  
  .responsive-logos-type_a {
    max-width: 76px;
    max-height: 30px; 
    width: auto; 
    height: auto; 
  }
  .responsive-logos-type_b {
    max-width: 110px;
    max-height: 30px; 
    width: auto; 
    height: auto; 
  }


  .velociraptor-all{
    flex-direction: row;
    min-width:47%;
    max-width: 47%;
    /* min-width:60%;
    max-width: 60%; */
    flex-grow: 5;
    }
    


    .velociraptor-left-side {
    justify-content: space-between;
    height: 100%;
    width: 440px;
    margin-right: var(--space-b);
    }


    @media only screen and (max-width: 1100px) {
      .velociraptor-all{ 
          min-width:calc(100% - var(--space-d))}
    }

    @media only screen and (max-width: 1100px) {
      .velociraptor-all{ 
        flex-direction: column;
        height: auto; 
         }
         .velociraptor-left-side {
          width: auto;
        }
      
        }
    
    .velociraptor-right-side{
    width: 100%;
    justify-content: space-between;
    }
    
    .velociraptor-EndpointModules-list-out{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      margin-top: var(--space-b);
      margin-bottom: calc(var(--space-b) + var(--space-b));
      
    }
    .velociraptor-EndpointModules-list-in{
     
      height: 248px;
      overflow-y: scroll;
    }
    
    .velociraptor-EndpointModules-item{
    padding-top:   var(--space-b);
    padding-bottom:var(--space-b);
     display: flex;
     justify-content:space-between;
      height: 60px;
      /* border:1px solid rebeccapurple; */
    }

    .velociraptor-EndpointModules-logo{
      /* background-color: rgba(238, 255, 0, 0.103); */
   
   width: 90px
     }

     .velociraptor-EndpointModules-text{
      /* background-color: rgba(60, 255, 0, 0.05); */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
   width: 100%
     }
.velociraptor_response_top_number{
 
  margin-left: auto;
  width: 100%;
}


.table_smart{
  display: flex;
/* max-width: 100%;
width: 100%; */

}

.parent-container {
 
 
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%;  
  max-width: 100%;   */
}
.table_smart_col {
  flex: 1;
  margin-right: 15px;
  display: block; /* block is generally suitable for <p> */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--space-d); /* Ensure this is set to a specific value */
  width: 100px;
}