 
:root {
  --big-gap: 60px;
  --med-gap: 20px;
  --sml-gap: 20px;
  --color-Black: #1B2231; 
  --color-White: #E5E5E5; 
  --color-Grey1: #AEB3BC; 
  --color-Grey2: #525C70; 
  --color-Grey4: #2D3A50; 
  --color-Grey5: #242E42; 
  --color-DB-Blue-Glow: #00DBFF; 
  --color-DB-Blue-low: #00ddff15; 
  --color-DB-Blue-Active: #00ddff9d; 
  --color-DB-Blue-Hover: #00DBFF45; 
  --color-Red: #FF0000; 
  --color-Yellow: #FFFF00; 
  --color-Green: #00FF00; 
  --boxes-round-corner: 15px;
  --elemtns-round-corner: 6px;
  --line-width-small: 2px;

  --marging-a: 5px;
  --marging-b: 10px;

  --padding-a: 5px;
  --padding-b: 10px;
  --padding-c: 20px;

  --space-a: 5px;
  --space-b: 10px;
  --space-c: 20px;
  --space-d: 30px;

  --transition-med: all 0.25s ease-in-out;
  --transition-fast: all 0.15s ease-in-out;
 
}
.Color-Red{color: var(--color-Red);}
.Color-White{color: var(--color-White);}
.Color-Grey1{color: var(--color-Grey1);}
.Color-Grey2{color: var(--color-Grey2);}
.Color-Grey5{color: var(--color-Grey5);}

.Color-Blue-Glow{color: var(--color-DB-Blue-Glow);}

.Bg-Green{background-color:var(--color-Green)}
.Bg-Yellow{background-color:var(--color-Yellow)}
.Bg-Red{background-color:var(--color-Red)}


.Bg-Grey2{background-color:var(--color-Grey2)}
.Bg-Blue-Glow{background-color:var(--color-DB-Blue-Glow)}


 


p{color: var(--color-White);
  margin: 0;
  padding: 0;
}

.font-type-very-sml-txt{
  font-size: 11px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01rem;
}

.font-type-txt{
  font-size: 14px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-type-menu{
  font-size: 14px;
 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01rem;
}

.font-type-h4{
  font-size: 24px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-type-h3{
  font-size: 34px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-type-h1{
  font-size: 52px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal; 
}

.make-underline{
  display: inline-block; /* Makes sure the border applies correctly for inline elements like <span> or <a> */
  border-bottom: 2px solid transparent; /* Creates a 2px thick underline. 'currentColor' uses the text's current color */
  padding-bottom: 3px; /* Adjusts the distance of the underline from the text */
  
  transition: var(--transition-fast)
  
}


.make-underline:hover     { 
 
   display: inline-block; /* Makes sure the border applies correctly for inline elements like <span> or <a> */
  border-bottom: 2px solid currentColor; /* Creates a 2px thick underline. 'currentColor' uses the text's current color */
  padding-bottom: 3px; /* Adjusts the distance of the underline from the text */
}

 



.ml-a{ margin-left: 5px;}
.ml-b{ margin-left: 10px;}

.mr-0{ margin-right: 0;}
.mr-a{ margin-right: 5px;}
.mr-b{ margin-right: 10px;}
.mr-c{ margin-right: 20px;}

.mb-a{ margin-bottom: 5px;}
.mb-b{ margin-bottom: 10px;}
.mb-c{ margin-bottom: 20px;}
.mt-a{ margin-top: 5px;}
.mt-b{ margin-top: 10px;}
.mt-c{ margin-top: 20px;}

.app-out {
  background-color:var(--color-Black);
  min-height: 100vh; 
  display: flex;
  gap: var(--med-gap);
}


.app-main{
  display: flex; flex-direction: column;
  /* gap: var(--med-gap); */
  margin-right: var(--med-gap);
  margin-top: var(--med-gap);
  margin-bottom: var(--med-gap); 
  /* background-color: rgb(255, 0, 255); */
  width: 100%;
   /* min-height: 100vh;  */
}





/* //////////////top-of-page/////////////// */
.top-of-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.top-of-page-right{
  display: flex;
  align-items: center;
}
/* ///////////////////////////// */

.input-type1::placeholder{    color: var(--color-Grey2);}

.input-type1{
  background-color:transparent;
  border: var(  --line-width-small) solid var(--color-Grey2);
  border-radius: var(--elemtns-round-corner);
  height: 22px;
  width: 188px;
  outline:none;
 padding-left: 8px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-Grey2);
  transition: var(--transition-fast)
}


.input-type1:hover{
  border: var(  --line-width-small) solid var(--color-DB-Blue-Active);
  color: var(--color-DB-Blue-Active);
}
.input-type1:focus {
  border-color:var(--color-DB-Blue-Glow);
  color: var(--color-DB-Blue-Glow);
}


.icon-type1{
height:28px;
width: 28px;

transition: var(--transition-fast)

}




.btn-type1{
  height:28px;
width: 28px;

  margin: 0;
  padding: 0;
  border:0;
  border-radius: var(--elemtns-round-corner);
  background-color: transparent;
  transition: var(--transition-fast)
}

.btn-type1:hover{
  background-color: var(--color-DB-Blue-Hover);
  transition: var(--transition-fast)
}
.btn-type1:active{
  background-color: var(--color-DB-Blue-Active);
  transition: var(--transition-fast)
  
}


.btn-type1 .icon-type1  path{
  stroke: var(--color-Grey2);
  transition: var(--transition-fast)
}

.btn-type1:hover .icon-type1  path{
  stroke: var(--color-DB-Blue-Glow);
  transition: var(--transition-fast)
}


  /* /////////////////////// */
.tagit{
  display: flex;
   align-items: center;
  background-color: var(--color-DB-Blue-Hover);
  transition: var(--transition-fast);
border-radius: var(--elemtns-round-corner);
border-radius:  15px;
height: var(--space-c);
padding: 0 var(--space-b);
}


  /* /////////////////////// */

.switch {
  position: relative;
  width: 30px;
  height: 16px;
}

.switch input { 
  position: absolute;
  opacity: 0;
}

.slider {
  border-radius: 34px;
  background-color:var(--color-DB-Blue-Hover);
 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;

  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: var(--color-DB-Blue-Hover);

}

/* .slider:after{
  background-color: #00FF00;
}
  */
  .display-flex{ display: flex;  align-items: center;}
 

input:checked + .slider {
  background-color:var(--color-DB-Blue-Active);

}


input:checked + .slider:before {
  background-color: var(--color-DB-Blue-Glow);

}


input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
